* {
    box-sizing: border-box;
}

.main {
    background-color: rgb(249, 252, 255);
}

.header ol {
    list-style-type: none;
    display: flex;
    justify-content: right;
    justify-items: center;
}

.header {
    background-color: #6c63ff;
    height: max-content;
}

.header ol li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

.header ol li {
    height: 30px;
    text-align: center;
}

.header ol li:hover {
    background-color: #F5DB56;
}

.header ol a:hover {
    color: #06034a;
}

.sections {
    padding: 0 30px;
}

.section1 {
    padding: 0 0 20px 0;
}

.section1 button {
    border-radius: 20px;
    padding: 3px 15px;
    background-color: #F5DB56;
    border: none;
    text-shadow: 1px 1px 10px rgb(255, 249, 240);
    box-shadow: 3px 3px 3px #07034a4e;
}

.section1 button:hover {
    box-shadow: 1px 1px 3px #07034a4e;
}

.section1 button a {
    text-decoration: none;
    color: #06034a;
    font-weight: 600;
}

.section2 {
    border-top: solid 1px rgb(214, 227, 255);
}

.section2 .about_me {

    text-align: justify;
}

.profilepic {
    width: 250px;
    border-radius: 125px;
    border: solid 3px #6c63ff;
    box-shadow: 4px 4px 10px #06034a62;
    margin: 10px;
}

.illustration {
    display: flex;
    justify-content: center;
}

.illustration img {
    width: 600px;
}

.footer ol li a {
    color: white;
    text-decoration: none;
}

.footer ol li {
    list-style-type: none;
}

.footer {
    padding: 10px;
    background-color: #6c63ff;
}

.outerbox {
    height: 22px;
    background-color: #ffed90;
    border-radius: 4px;
    margin-bottom: 10px;
}

.innerbox p {
    font-weight: bold;
}

.innerbox {
    height: inherit;
    background-color: #6c63ff;
    text-align: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 20px 0;border-top: solid 1px rgb(214, 227, 255);
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.bi {
    margin: 0 5px;
    color: #F5DB56;
}

.myworks_card {
    border-right: #cdc9ff 1px solid;
}

.myworks_card3 {
    border-right: none 1px solid;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.card-content {
    padding: 0 20px;
    margin: 0;
    background-color: #F5DB56;
}

.card-content h3 {
    font-weight: 700;
}

.card-content button a {
    font-weight: 500;
    color: #F5DB56;
    text-decoration: none;
}

.card-content button {
    background-color: #6c63ff;
    margin: 0 0 5px 0;
    border-radius: 5px;
    display: inline-block;
    border: none;
    padding: 5px 10px;
}