.main {
    background-color: rgb(249, 252, 255);
}

.header ol {
    list-style-type: none;
    display: flex;
    justify-content: right;
    justify-items: center;
}

.header {
    background-color: #6c63ff;
    height: max-content;
}

.header ol li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

.header ol li {
    height: 30px;
    text-align: center;
}

.header ol li:hover {
    background-color: #F5DB56;
}

.header ol a:hover {
    color: #06034a;
}

.section1 {
    margin: 30px 0;
}

.section1 button {
    border-radius: 20px;
    padding: 3px 15px;
    background-color: #F5DB56;
    border: none;
    text-shadow: 1px 1px 10px rgb(255, 249, 240);
    box-shadow: 3px 3px 3px #07034a4e;
}

.section1 button:hover {
    box-shadow: 1px 1px 3px #07034a4e;
}

.section1 button a {
    text-decoration: none;
    color: #06034a;
    font-weight: 600;
}

.section2 {
    border-top: solid 1px rgb(214, 227, 255);
}

.section2 .about_me {
    padding: 50px;
    text-align: justify;
}

.profilepic {
    width: 250px;
    border-radius: 125px;
    border: solid 3px #6c63ff;
    box-shadow: 4px 4px 10px #06034a62;
    margin: 20px;
}

.illustration {
    display: flex;
    justify-content: center;
}

.illustration img {
    width: 600px;

}


.footer ol li a {
    color: white;
    text-decoration: none;
}

.footer ol li {
    list-style-type: none;
}

.footer {
    margin: 0;
    padding: 10px;
    background-color: #6c63ff;
}

.outerbox {
    height: 22px;
    background-color: #ffed90;
    border-radius: 4px;
    margin-bottom: 10px;
}

.innerbox p {
    font-weight: bold;
}

.innerbox {
    height: inherit;
    background-color: #6c63ff;
    text-align: center;
}